<nav>
    <div class="container nav-content">
        <a href="/" class="logo header-logo" style="opacity: 0;">
            <img src="/logo.png" alt="Mach Dich Online Logo" class="logo-image">
        </a>
        
        <div class="nav-links" id="nav-links">
            <a href="/leistungen">Leistungen</a>
            <a href="/#ueber-uns">Über uns</a>
            <a href="/faq">FAQ</a>
            <a href="/#angebot-formular" class="btn btn-secondary nav-cta">Jetzt Angebot Erhalten</a>
        </div>
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>
